@charset "utf-8";
@import url("./basic.css");

/*header*/
#header{
	width: 100%;
	height: 92px;
	background-color: #fff;
	box-shadow: #999 0 1px 3px 0;
	overflow: hidden;
}
#header .main, #header .search{
	position: relative;
}
#header .main .navOpen{
	top: 10px;
	left: 10px;
	padding: 8px 4px;
	background-color: transparent;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
	position: absolute;
}
#header .main .navOpen span{
	margin: 0 0 4px 0;
	width: 22px;
	height: 2px;
	background-color: #666;
	border-radius: 1px;
	display: block;
}
#header .main .navOpen .last{
	margin-bottom: 0;
}
#header .main h1{
	margin: 17.5px 0 15px 60px;
	display: inline-block;
}
#header .main h1 img{
	width: 50%;
}
#header .main > a{
	top: 15px;
	right: 15px;
	padding: 5px;
	color: #000;
	font-size: 12px;
	border: 1px solid #E6E7E8;
	position: absolute;
}
#header .search span{
	margin: 0 0 0 15px;
	width: 22%;
	line-height: 30px;
	color: #fff;
	font-size: 12px;
	text-align: center;
	background-color: #2D98D5;
	display: inline-block;
}
#header .search input{
	right: 15px;
	padding: 0 5px;
	width: 70%;
	height: 30px;
	border: 1px solid #039BE5;
	box-sizing: border-box;
	position: absolute;
}
#header .search a{
	top: 0;
	right: 15px;
	width: 30px;
	height: 30px;
	text-indent: -9999em;
	background: url('../img/common/mainsearch.png') center center no-repeat;
	background-size: 16px 16px;
	position: absolute;
}
/*aside*/
#menu{
	top: 0;
	left: -290px;
	width: 290px;
	height: 100%;
	overflow: hidden;
	display: none;
	position: absolute;
	background-color: #fff;
	box-shadow: #444 1px 0 3px 0;
	z-index: 100;
}
#menu .menuBounce{
	top: -500px;
	height: 500px;
	background-color: #039BE5;
	position: absolute;
}
#menu nav > div{
	width: 100%;
	height: 48px;
	background: #039BE5;
}
#menu nav > div a{
	top: 7px;
	left: 10px;
	width: 32px;
	height: 32px;
	text-indent: -9999em;
	border: 0 none;
	background: transparent url('../img/common/menuhome.png') center center no-repeat;
	background-size: 30px 30px;
	position: absolute;
}
#menu nav > div button{
	top: 7px;
	right: 10px;
	width: 32px;
	height: 32px;
	text-indent: -9999em;
	border: 0 none;
	background: transparent url('../img/common/menuclose.png') center center no-repeat;
	background-size: 30px 30px;
	position: absolute;
}
#menu .navList > li{
	padding: 10px 0;
	border-bottom: 1px solid #A7A9AC;
}
#menu .navList > li:last-child{
	border-bottom: 0 none;
}
#menu .navList span{
	margin: 0 0 0 25px;
	padding: 5px 0 5px 35px;
	font-size: 14px;
	display: inline-block;
}
#menu .navList span.menuIntroduce{
	background: url('../img/common/menuintroduce.png') left center no-repeat;
	background-size: 25px 25px;
}
#menu .navList span.menuFacilityGuide{
	background: url('../img/common/menufacilityguide.png') left center no-repeat;
	background-size: 25px 25px;
}
#menu .navList span.menuUseGuide{
	background: url('../img/common/menuuseguide.png') left center no-repeat;
	background-size: 25px 25px;
}
#menu .navList span.menuCustomer{
	background: url('../img/common/menucustomer.png') left center no-repeat;
	background-size: 25px 25px;
}
#menu .navList li a{
	margin: 5px 0 0 0;
	padding: 5px 0 5px 65px;
	width: 80%;
	color: #58595B;
	font-size: 13px;
	display: inline-block;
	background: url('../img/common/menuarrow.png') 95% center no-repeat;
	background-size: 18px 18px;
}
#menu .navDepth span{
	margin: 10px 0 0 65px;
	padding: 0 0 5px 0;
	color: #58595B;
	font-size: 13px;
	background: none;
	display: inline-block;
}
#menu .navDepth ul li a{
	padding-left: 80px;
	background-position: 90% center;
}
/*#wrapper {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
}
#scroller {
	position: absolute;
}*/
.shadow{
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	position: absolute;
	display: none;
	z-index: 99;
}

/*container*/
#container{
	margin: 0 0 10px 0;
	overflow: hidden;
}
#container .subContents .subTitle{
	margin: 10px;
	border-bottom: 1px solid #E6E7E8;
}
#container .subContents .subTitle h3{
	margin: 10px 0;
	font-size: 13px;
}
#container .subContents .subWrap .subExplain{
	margin: 0 0 10px 10px;
	color: #58595B;
	font-size: 12px;
	word-break : keep-all;
}
#container .subContents .subWrap .subMenu ul{
	margin: 0 0 10px 0;
	overflow: hidden;
}
#container .subContents .subWrap .subMenu ul li{
	width: 33.33%;
	text-align: center;
	box-sizing: border-box;
	border-top: 1px solid #D1D3D4;
	border-bottom: 1px solid #D1D3D4;
	border-right: 1px solid #D1D3D4;
	background-color: #F8F8F9;
	float: left;
}
#container .subContents .subWrap .subMenu ul li:last-child{
	border-right: 0 none;
}
#container .subContents .subWrap .subMenu ul li a{
	width: 100%;
	line-height: 24px;
	color: #58595B;
	font-size: 12px;
	display: block;
}
#container .subContents .subWrap .subMenu ul li.on{
	border: 1px solid #039BE5;
	background-color: #039BE5;
}
#container .subContents .subWrap .subMenu ul li.on a{
	color: #fff;
}
#container .subContents .subWrap .subSearch{
	padding: 5px 0;
	text-align: center;
	background-color: #F2F2F2;
}
#container .subContents .subWrap .subSearch select{
	padding: 0 0 0 5px;
	height: 30px;
	border: 1px solid #D1D3D4;
	background-color: #fff;
}
#container .subContents .subWrap .subSearch input{
	padding: 0 5px;
	width: 60%;
	height: 30px;
	border: 1px solid #D1D3D4;
	box-sizing: border-box;
}
#container .subContents .subWrap .subSearch a{
	margin: 0 0 0 -7px;
	width: 30px;
	height: 30px;
	line-height: 26px;
	text-indent: -9999px;
	display: inline-block;
	box-sizing: border-box;
	background: #D1D2D3 url('../img/bbs/search.png') center center no-repeat;
	background-size: 30px 30px;
}
#container .subContents .subWrap .areaRoute table{
	border-collapse: separate;
	border-spacing: 0 5px;
}
#container .subContents .subWrap .areaRoute table th{
	padding: 5px;
	height: 30px;
	color: #58595B;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	border-top: 1px solid #E6E7E8;
	border-bottom: 1px solid #E6E7E8;
	background-color: #F8F8F9;
}
#container .subContents .subWrap .areaRoute table td{
	padding: 10px 0 0 0;
	height: 30px;
	font-size: 12px;
	text-align: left;
	vertical-align: middle;
	border-top: 1px solid #E6E7E8;
	border-bottom: 1px solid #E6E7E8;
}
#container .subContents .subWrap .areaRoute table td a{
	margin: 0 0 10px 10px;
	color: #000;
	display: inline-block;
}
#container .subContents .subWrap .mainBoard .menu{
	margin: 5px 0;
	overflow: hidden;
}
#container .subContents .subWrap .mainBoard .menu li{
	width: 50%;
	text-align: center;
	box-sizing: border-box;
	border-top: 1px solid #BCBEC0;
	border-bottom: 1px solid #BCBEC0;
	border-right: 1px solid #BCBEC0;
	background-color: #D2D3D4;
	float: left;
}
#container .subContents .subWrap .mainBoard .menu li:last-child{
	border-right: 0 none;
}
#container .subContents .subWrap .mainBoard .menu li a{
	width: 100%;
	line-height: 24px;
	color: #595A5C;
	font-size: 10px;
	display: block;
}
#container .subContents .subWrap .mainBoard .menu li.on{
	background-color: #2D98D5;
}
#container .subContents .subWrap .mainBoard .menu li.on a{
	color: #fff;
}
#container .subContents .subWrap .mainBoard .list{
	overflow: hidden;
}
#container .subContents .subWrap .mainBoard .list.faq{
	display: none;
}
#container .subContents .subWrap .mainBoard .list li{
	position: relative;
}
#container .subContents .subWrap .mainBoard .list li a{
	padding: 0 5px 5px 5px;
	width: 100%;
	color: #58595B;
	font-size: 10px;
	display: inline-block;
}
#container .subContents .subWrap .mainBoard .list li a span{
	right: 5px;
	position: absolute;
}
#container .subContents .subWrap .terminalIntro p{
	margin: 0 0 0 10px;
	color: #58595B;
	font-size: 12px;
	word-break: keep-all;
}
#container .subContents .subWrap .terminalIntro p.important{
	color: #000;
}
#container .subContents .subWrap .location{
	font-size: 12px;
}
#container .subContents .subWrap .location dl{
	margin: 0 0 10px 10px;
}
#container .subContents .subWrap .location dd{
	margin: 5px 0 0 10px;
}
#container .subContents .subWrap .location .contact dd{
	color: #039BE5;
	font-size: 18px;
}
#container .subContents .subWrap .location .subway dd{
	padding: 0 0 0 25px;
	background: url('../img/intro/subway.png') left center no-repeat;
	background-size: 18px 12px;
}
#container .subContents .subWrap .location .bus dd:nth-child(2){
	padding: 0 0 0 35px;
	background: url('../img/intro/bus_g.png') left center no-repeat;
	background-size: 30px 16px;
}
#container .subContents .subWrap .location .bus dd:nth-child(3){
	padding: 0 0 0 35px;
	background: url('../img/intro/bus_s.png') left center no-repeat;
	background-size: 30px 16px;
}
#container .subContents .subWrap .location .bus dd:nth-child(4){
	padding: 0 0 0 35px;
	background: url('../img/intro/bus_q.png') left center no-repeat;
	background-size: 30px 16px;
}
#container .subContents .subWrap .location .bus dd:nth-child(5){
	padding: 0 0 0 35px;
	background: url('../img/intro/bus_v.png') left center no-repeat;
	background-size: 30px 16px;
}
#container .subContents .subWrap .location .bus dd:nth-child(6){
	padding: 0 0 0 35px;
	background: url('../img/intro/bus_n.png') left center no-repeat;
	background-size: 30px 16px;
}
#container .subContents .subWrap .facilityGuide a img{
	width: 100%;
}
#container .subContents .subWrap .facilityGuide a + a img{
	margin: 10px 0 0 0;
}
#container .subContents .subWrap .carriage{
	font-size: 12px;
}
#container .subContents .subWrap .carriage h4{
	margin: 0 0 10px 10px;
}
#container .subContents .subWrap .carriage ol > li{
	margin: 5px 0 0 35px;
	list-style: decimal;
}
#container .subContents .subWrap .carriage ul{
	margin: 10px 0;
}
#container .subContents .subWrap .carriage ul li{
	margin: 5px 0 0 0;
	color: #039BE5;
}
#container .subContents .subWrap .sale,
#container .subContents .subWrap .refund,
#container .subContents .subWrap .terminalInfo,
#container .subContents .subWrap .transportInfo,
#container .subContents .subWrap .noticeList,
#container .subContents .subWrap .loseList{
	border-top: 1px solid #000;
}
#container .subContents .subWrap .sale table th,
#container .subContents .subWrap .refund table th,
#container .subContents .subWrap .terminalInfo table th,
#container .subContents .subWrap .transportInfo table th,
#container .subContents .subWrap .noticeList table th,
#container .subContents .subWrap .loseList table th{
	padding: 5px;
	height: 30px;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	border-bottom: 1px solid #E6E7E8;
	border-right: 1px solid #E6E7E8;
	background-color: #F8F8F9;
}
#container .subContents .subWrap .sale table td,
#container .subContents .subWrap .refund table td,
#container .subContents .subWrap .terminalInfo table td,
#container .subContents .subWrap .transportInfo table td,
#container .subContents .subWrap .noticeList table td,
#container .subContents .subWrap .loseList table td{
	padding: 5px;
	height: 30px;
	color: #58595B;
	font-size: 12px;
	text-align: center;
	vertical-align: middle;
	border-bottom: 1px solid #E6E7E8;
	border-right: 1px solid #E6E7E8;
}
#container .subContents .subWrap .noticeList table td.title,
#container .subContents .subWrap .loseList table td.title{
	padding-left: 10px;
	text-align: left;
}
#container .subContents .subWrap .noticeList table td.title a,
#container .subContents .subWrap .loseList table td.title a{
	color: #58595B;
}
#container .subContents .subWrap .sale table th:last-child, #container .subContents .subWrap .sale table td:last-child,
#container .subContents .subWrap .refund table th:last-child, #container .subContents .subWrap .refund table td:last-child,
#container .subContents .subWrap .terminalInfo table th:last-child, #container .subContents .subWrap .terminalInfo table td:last-child,
#container .subContents .subWrap .transportInfo table th:last-child, #container .subContents .subWrap .transportInfo table td:last-child,
#container .subContents .subWrap .noticeList table th:last-child, #container .subContents .subWrap .noticeList table td:last-child,
#container .subContents .subWrap .loseList table th:last-child, #container .subContents .subWrap .loseList table td:last-child{
	border-right: 0 none;
}

#container .subContents .subWrap .findRoute img{
	margin: 0 0 5px 0;
	width: 100%;
}
#container .subContents .subWrap .findRoute table{
	border-collapse: separate;
	border-spacing: 0 5px;
}
#container .subContents .subWrap .findRoute table th{
	padding: 5px;
	height: 30px;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	border-top: 1px solid #039BE5;
	border-bottom: 1px solid #039BE5;
	background-color: #039BE5;
}
#container .subContents .subWrap .findRoute table td{
	padding: 5px;
	height: 30px;
	font-size: 12px;
	text-align: center;
	vertical-align: middle;
	border-top: 1px solid #E6E7E8;
	border-bottom: 1px solid #E6E7E8;
}
#container .subContents .subWrap .btns{
	margin: 10px 0 0 0;
	text-align: center;
}
#container .subContents .subWrap .btns .btn.write{
	width: 112px;
	line-height: 22px;
	color: #fff;
	font-size: 12px;
	text-align: center;
	display: inline-block;
	background-color: #039BE5;
	border: 1px solid #039BE5;
}
#container .subContents .subWrap .pagingWrap{
	margin: 5px 0 0 0;
	height: 30px;
	text-align: center;
}
#container .subContents .subWrap .paging{
	width: auto;
	height: 10px;
	text-align: center;
	display: inline-block;
}
#container .subContents .subWrap .paging li{
	float: left;
	font-size: 11px;
	border-top: 1px solid #D1D3D4;
	border-bottom: 1px solid #D1D3D4;
}
#container .subContents .subWrap .paging li.arrow{
	font-size: 8px;
	border-right: 1px solid #D1D3D4;
	border-left: 1px solid #D1D3D4;
}
#container .subContents .subWrap .paging li:first-child{
	border-right: 0 none;
}
#container .subContents .subWrap .paging li:last-child{
	border-left: 0 none;
}
#container .subContents .subWrap .paging strong{
	padding: 0 9px;
	line-height: 20px;
	color: #039BE5;
	font-weight: bold;
	display: inline-block;
}
#container .subContents .subWrap .paging a{
	margin: 0 2px;
	padding: 0 7px;
	line-height: 20px;
	color: #000;
	display: inline-block;
}

#popup{
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	width: 90%;
	height: 95%;
	background-color: #fff;
	position: absolute;
	display: none;
	overflow: hidden;
	z-index: 100;
}
#popup .popupBounce{
	top: -500px;
	width: 100%;
	height: 500px;
	background-color: #039BE5;
	position: absolute;
}
#popup h3{
	line-height: 40px;
	color: #fff;
	font-size: 13px;
	text-align: center;
	background-color: #039BE5;
}
#popup div div{
	border-top: 1px solid #000;
}
#popup .popupOperationTime, #popup .popupContact{
	display: none;
}
#popup .object table thead th,
#popup .runNormal table thead th,
#popup .runNight table thead th,
#popup .terminalInfo table thead th{
	text-align: center;
}
#popup .object table th,
#popup .runNormal table th,
#popup .runNight table th,
#popup .terminalInfo table th{
	padding: 5px 10px;
	height: 30px;
	font-size: 12px;
	font-weight: bold;
	text-align: left;
	vertical-align: middle;
	border-bottom: 1px solid #E6E7E8;
	border-right: 1px solid #E6E7E8;
	background-color: #F8F8F9;
}
#popup .object table td,
#popup .runNormal table td,
#popup .runNight table td,
#popup .terminalInfo table td,
#popup .operationTime table td{
	padding: 5px 10px;
	height: 30px;
	color: #58595B;
	font-size: 12px;
	text-align: left;
	vertical-align: middle;
	border-bottom: 1px solid #E6E7E8;
	border-right: 1px solid #E6E7E8;
	background-color: #fff;
	word-break: break-all;
}
#popup .operationTime table td:first-child{
	padding: 5px;
	text-align: center;
}
#popup .runNormal table.sum td,
#popup .runNight table.sum td{
	text-align: center;
}
#popup .operationTime table th,
#popup .contact table th{
	padding: 5px;
	height: 30px;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	border-bottom: 1px solid #E6E7E8;
	border-right: 1px solid #E6E7E8;
	background-color: #F8F8F9;
}
#popup .contact table td{
	padding: 5px;
	height: 30px;
	color: #58595B;
	font-size: 12px;
	text-align: center;
	vertical-align: middle;
	border-bottom: 1px solid #E6E7E8;
	border-right: 1px solid #E6E7E8;
	background-color: #fff;
	word-break: break-all;
}
#popup .object table th:last-child, #popup .object table td:last-child,
#popup .runNormal table th:last-child, #popup .runNormal table td:last-child,
#popup .runNight table th:last-child, #popup .runNight table td:last-child,
#popup .terminalInfo table th:last-child, #popup .terminalInfo table td:last-child,
#popup .operationTime table th:last-child, #popup .operationTime table td:last-child,
#popup .contact table th:last-child, #popup .contact table td:last-child{
	border-right: 0 none;
}
#popup .fixedMargin{
	margin: 50px 0 0 0;
	border: 1px solid #fff;
}
#popup .btns{
	margin: 15px 0 0 0;
	height: 40px;
	text-align: center;
	border: 0 none;
}
#popup .popupExit .btns{
	right: 0;
	bottom: 0;
	left: 0;
	margin: 0 auto;
	padding: 10px 0;
	width: 90%;
	position: fixed;
	background-color: #fff
}
#popup .btns.time.contact{
	display: none;
}
#popup .btns .btn{
	width: 112px;
	line-height: 22px;
	font-size: 12px;
	text-align: center;
	display: inline-block;
}
#popup .btns .btn.operationTime, #popup .btns .btn.reserve, #popup .btns .btn.back{
	margin: 0 10px 0 0;
}
#popup .btns .btn.operationTime, #popup .btns .btn.contact{
	color: #fff;
	background-color: #58595B;
	border: 1px solid #58595B;
}
#popup .btns .btn.reserve{
	color: #fff;
	background-color: #039BE5;
	border: 1px solid #039BE5;
}
#popup .btns .btn.close, #popup .btns .btn.back{
	color: #58595B;
	background-color: #D1D3D4;
	border: 1px solid #BCBEC0;
}

/*footer*/
#footer{
	padding: 5px 0;
	margin: 0 10px;
	color: #939598;
	font-size: 8px;
	border-top: 1px solid #D1D3D4;
	overflow: hidden;
}
#footer address span{
	margin: 0 3px 0 0;
	padding: 0 5px 0 0;
	border-right: 1px solid #939598;
}
#footer address span:last-child{
	margin: 0;
	padding: 0;
	border: 0 none;
}